
.Container {
    text-align: center;
    margin-top: 50px;
  }
  
  .Container div {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .Container h2 {
    margin-bottom: 10px;
  }
  
  .LC {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
  }
  
  .RC {
    color: green;
    margin-left: 10px;
  }
  
  


